<style>
    #avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .message {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px 0;
        border-radius: 5px;
        background-color: #f9f9f9;
    }

    #senderName {
        margin-left: 15px;
        font-weight: bold;
    }

    #timestamp {
        font-size: 0.8em;
        color: #888;
        margin-left: 10px;
    }

    label[for="usernameDisplay"] {
        font-size: 0.7em;
        color: #555;
    }
</style>

<h1>Welcome, <%= displayName %>!</h1>