<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<%- include('partials/header.ejs') %>
<body>
    <button onclick="makePet()">Make new pet</button>
    <div id="petBox">
        <img id="petImg" style="width: 250px; height: 250px;"></img>
    </div>
</body>
<script>
    function makePet () {
        let petData = {
            name: window.prompt('What do you want the name of your pet to be?'),
            user: '<%- user %>'
        }

        // send to database

        let img = document.getElementById('petImg')
        img.src = 'public/cat.png'

    }
</script>
</html>