<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>

<%- include('partials/header.ejs') %>
<body>
    <h2 id="roomName">
        <!--Room ID here-->
    </h2>
    <div id="chatLog">
        <!--Messages outputted here-->
    </div>
    <div id="roomList">
        <!--Room list here-->
    </div>
    <form>
        <label for="messageInput">Message:</label>
        <input id="messageInput" name="messageInput" type="text" placeholder="Type your message here...">
        <button id="sendButton" type="button">Send</button>
    </form>
</body>
<%- include('partials/footer.ejs') %>

<script src="/socket.io/socket.io.js"></script>
<script>
    let rooms = ['general', 'room 1', 'room 2']
    let currentRoom = 'general'
    const displayName = "<%= displayName %>";
    const avatarPath = "<%= avatarPath %>";
    const roomName = document.getElementById('roomName')
    const chatLog = document.getElementById('chatLog');
    const roomListDiv = document.getElementById('roomList');
    const messageInput = document.getElementById('messageInput');
    const form = document.querySelector('form');
    const sendButton = document.getElementById('sendButton');

    const socket = io();

    socket.emit('joinRoom', currentRoom);

    // Receive chat messages from server
    socket.on('chatMessage', (data) => {
        //create message elements
        let messageElement = document.createElement('div');
        let senderName = document.createElement('span');
        let senderAvatar = document.createElement('img');
        let messageTimestamp = document.createElement('span');
        messageElement.textContent = data.message; //set message text
        senderName.textContent = data.sender; //set message sender name
        messageTimestamp.textContent = data.timestamp; //set message timestamp

        //set message element properties
        messageElement.className = "message"

        //set sender name properties
        senderName.id = "senderName"

        //set message avatar properties
        senderAvatar.id = "avatar"
        senderAvatar.src = data.avatar
        senderAvatar.alt= "no avatar set"

        //set timestamp properties
        messageTimestamp.id = "timestamp"

        messageElement.prepend(document.createElement('br')) //add line break after sender name
        messageElement.prepend(senderName); //prepend sender name to message
        messageElement.prepend(senderAvatar); //prepend avatar to message

        messageElement.appendChild(document.createElement('br'))
        messageElement.appendChild(messageTimestamp); //append timestamp to message

        //append message to chat log
        chatLog.appendChild(messageElement);
    });

    // Receive updated room list from server
    socket.on('roomList', () => {
        roomName.textContent = `Current Room: ${currentRoom}`;
        roomListDiv.innerHTML = '<h3>Available Rooms:</h3>';
        rooms.forEach((room) => {
            const roomElement = document.createElement('div');
            roomElement.textContent = `Room Name: ${room}`;
            roomElement.style.cursor = 'pointer';
            roomElement.onclick = () => {
                socket.emit('joinRoom', room);
                roomName.textContent = `Current Room: ${room}`;
            };
            roomListDiv.appendChild(roomElement);
        });
    });

    // Handle button click to send messages
    sendButton.addEventListener('click', () => {
        const message = messageInput.value;
        if (message) {
            socket.emit('chatMessage', { sender: displayName, message: message, avatar: avatarPath });
            messageInput.value = '';
        }
    });

</script>

</html>